.fixed-top {
  top: auto; }

.alert {
  margin-bottom: 0px; }

.login-page {
  background-color: #f96332; }

.login-container {
  padding-top: 175px;
  padding-bottom: 270px; }

.login-box {
  background-color: rgba(242, 242, 242, 0.32);
  padding: 15px; }

.login-btn {
  border: white solid 1px !important; }

.dashboard-page {
  background-color: #f96332;
  padding-top: 100px;
  min-height: 840px; }
  .dashboard-page .dashboard-left {
    background-color: #f2f2f2;
    padding: 5px;
    min-height: 400px; }
    .dashboard-page .dashboard-left .user-pic svg {
      font-size: 4em; }
    .dashboard-page .dashboard-left .dashboard-profile-pic {
      width: 150px; }
    .dashboard-page .dashboard-left .dashboard-navigation {
      padding-top: 20px;
      text-align: center;
      padding-bottom: 10px; }
      .dashboard-page .dashboard-left .dashboard-navigation .btn {
        display: block; }
  .dashboard-page .extra-padding-top-30 {
    padding-top: 30px !important; }
  .dashboard-page .extra-padding-top-60 {
    padding-top: 60px !important; }
  .dashboard-page .extra-padding-bottom-160 {
    padding-bottom: 165px; }
  .dashboard-page .dashboard-main {
    background-color: #f2f2f2;
    min-height: 600px;
    padding: 10px;
   /* Always set the map height explicitly to define the size of the div
* element that contains the map. */
    /* Optional: Makes the sample page fill the window. */ }
    .dashboard-page .dashboard-main #search_management > table > tbody > tr > td, .dashboard-page .dashboard-main th {
      vertical-align: middle !important; }
    .dashboard-page .dashboard-main .search-tools {
      text-align: center;
      border-top: solid 1px #888;
      border-left: solid 1px #888;
      border-right: solid 1px #888;
      padding-bottom: 10px; }
      .dashboard-page .dashboard-main .search-tools .slider.slider-horizontal:hover .tooltip.tooltip-main, .dashboard-page .dashboard-main .search-tools .slider.slider-vertical:hover .tooltip.tooltip-main {
        opacity: 0.7 !important; }
      .dashboard-page .dashboard-main .search-tools .slider.slider-horizontal:hover .tooltip-inner, .dashboard-page .dashboard-main .search-tools .slider.slider-vertical:hover .tooltip-inner {
        font-size: 90%;
        width: auto; }
      .dashboard-page .dashboard-main .search-tools .slider-handle {
        background-color: #f96332;
        background-image: none; }
      .dashboard-page .dashboard-main .search-tools .slider.slider-horizontal {
        width: 80%; }
      .dashboard-page .dashboard-main .search-tools .get-data-btn {
        margin-top: -2px; }
    .dashboard-page .dashboard-main .map {
      min-height: 400px; }
    .dashboard-page .dashboard-main #floating-panel {
      top: 10px;
      left: 25%;
      z-index: 5;
      padding: 5px;
      border: 1px solid #999;
      text-align: center;
      font-family: 'Roboto', 'sans-serif';
      line-height: 30px;
      padding-left: 10px; }
    .dashboard-page .dashboard-main #floating-panel {
      border: 1px solid #999;
      left: 25%;
      padding: 5px;
      top: 10px;
      z-index: 5; }
    .dashboard-page .dashboard-main .btn-border-none {
      border: none; }
    .dashboard-page .dashboard-main .nav-tabs > .nav-item > .nav-link.active {
      color: #f96332 !important;
      border: #f96332 solid 1px; }
    .dashboard-page .dashboard-main .dashboard-search, .dashboard-page .dashboard-main .dashboard-add-phrase, .dashboard-page .dashboard-main .edit-profile {
      padding-top: 15px; }
      .dashboard-page .dashboard-main .dashboard-search .add-phrase-title i, .dashboard-page .dashboard-main .dashboard-search edit-profile-title i, .dashboard-page .dashboard-main .dashboard-add-phrase .add-phrase-title i, .dashboard-page .dashboard-main .dashboard-add-phrase edit-profile-title i, .dashboard-page .dashboard-main .edit-profile .add-phrase-title i, .dashboard-page .dashboard-main .edit-profile edit-profile-title i {
        color: #1da2ff; }
      .dashboard-page .dashboard-main .dashboard-search .align-vertical, .dashboard-page .dashboard-main .dashboard-add-phrase .align-vertical, .dashboard-page .dashboard-main .edit-profile .align-vertical {
        vertical-align: middle; }
      .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon {
        padding: 15px 0px 15px 0px;
        color: #f96332;
        font-size: 1.0em; }
        .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon span, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon span, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon span {
          font-size: 1.1em;
          font-weight: 100; }
        .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon p, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon p, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon p {
          color: #888;
          padding-top: 15px;
          font-size: 1.4em; }
        .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .most-tweet, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .most-tweet, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .most-tweet {
          padding: 10px; }
          .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .most-tweet p, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .most-tweet p, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .most-tweet p {
            font-size: 1em;
            padding-top: 5px; }
          .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .most-tweet img, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .most-tweet img, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .most-tweet img {
            width: 20%; }
        .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .pos-vs-neg-chart .ct-chart-donut, .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .pos-vs-neg-chart-last3 .ct-chart-donut, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .pos-vs-neg-chart .ct-chart-donut, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .pos-vs-neg-chart-last3 .ct-chart-donut, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .pos-vs-neg-chart .ct-chart-donut, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .pos-vs-neg-chart-last3 .ct-chart-donut {
          padding-top: 40px; }
          .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .pos-vs-neg-chart .ct-chart-donut .ct-series-a .ct-slice-donut-solid, .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .pos-vs-neg-chart-last3 .ct-chart-donut .ct-series-a .ct-slice-donut-solid, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .pos-vs-neg-chart .ct-chart-donut .ct-series-a .ct-slice-donut-solid, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .pos-vs-neg-chart-last3 .ct-chart-donut .ct-series-a .ct-slice-donut-solid, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .pos-vs-neg-chart .ct-chart-donut .ct-series-a .ct-slice-donut-solid, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .pos-vs-neg-chart-last3 .ct-chart-donut .ct-series-a .ct-slice-donut-solid {
            fill: #f44336 !important; }
          .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .pos-vs-neg-chart .ct-chart-donut .ct-series-b .ct-slice-donut-solid, .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .pos-vs-neg-chart-last3 .ct-chart-donut .ct-series-b .ct-slice-donut-solid, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .pos-vs-neg-chart .ct-chart-donut .ct-series-b .ct-slice-donut-solid, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .pos-vs-neg-chart-last3 .ct-chart-donut .ct-series-b .ct-slice-donut-solid, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .pos-vs-neg-chart .ct-chart-donut .ct-series-b .ct-slice-donut-solid, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .pos-vs-neg-chart-last3 .ct-chart-donut .ct-series-b .ct-slice-donut-solid {
            fill: #ffeb3b !important; }
          .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .pos-vs-neg-chart .ct-chart-donut .ct-series-c .ct-slice-donut-solid, .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .pos-vs-neg-chart-last3 .ct-chart-donut .ct-series-c .ct-slice-donut-solid, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .pos-vs-neg-chart .ct-chart-donut .ct-series-c .ct-slice-donut-solid, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .pos-vs-neg-chart-last3 .ct-chart-donut .ct-series-c .ct-slice-donut-solid, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .pos-vs-neg-chart .ct-chart-donut .ct-series-c .ct-slice-donut-solid, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .pos-vs-neg-chart-last3 .ct-chart-donut .ct-series-c .ct-slice-donut-solid {
            fill: #4caf50 !important; }
        .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .count-over-time .ct-chart-line .ct-series-a .ct-line, .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .count-over-time .ct-chart-line .ct-series-a .ct-point, .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .count-over-time-last3 .ct-chart-line .ct-series-a .ct-line, .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .count-over-time-last3 .ct-chart-line .ct-series-a .ct-point, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .count-over-time .ct-chart-line .ct-series-a .ct-line, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .count-over-time .ct-chart-line .ct-series-a .ct-point, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .count-over-time-last3 .ct-chart-line .ct-series-a .ct-line, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .count-over-time-last3 .ct-chart-line .ct-series-a .ct-point, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .count-over-time .ct-chart-line .ct-series-a .ct-line, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .count-over-time .ct-chart-line .ct-series-a .ct-point, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .count-over-time-last3 .ct-chart-line .ct-series-a .ct-line, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .count-over-time-last3 .ct-chart-line .ct-series-a .ct-point {
          stroke: #f44336 !important; }
        .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .count-over-time .ct-chart-line .ct-series-b .ct-line, .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .count-over-time .ct-chart-line .ct-series-b .ct-point, .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .count-over-time-last3 .ct-chart-line .ct-series-b .ct-line, .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .count-over-time-last3 .ct-chart-line .ct-series-b .ct-point, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .count-over-time .ct-chart-line .ct-series-b .ct-line, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .count-over-time .ct-chart-line .ct-series-b .ct-point, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .count-over-time-last3 .ct-chart-line .ct-series-b .ct-line, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .count-over-time-last3 .ct-chart-line .ct-series-b .ct-point, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .count-over-time .ct-chart-line .ct-series-b .ct-line, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .count-over-time .ct-chart-line .ct-series-b .ct-point, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .count-over-time-last3 .ct-chart-line .ct-series-b .ct-line, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .count-over-time-last3 .ct-chart-line .ct-series-b .ct-point {
          stroke: #ffeb3b !important; }
        .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .count-over-time .ct-chart-line .ct-series-c .ct-line, .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .count-over-time .ct-chart-line .ct-series-c .ct-point, .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .count-over-time-last3 .ct-chart-line .ct-series-c .ct-line, .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .count-over-time-last3 .ct-chart-line .ct-series-c .ct-point, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .count-over-time .ct-chart-line .ct-series-c .ct-line, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .count-over-time .ct-chart-line .ct-series-c .ct-point, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .count-over-time-last3 .ct-chart-line .ct-series-c .ct-line, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .count-over-time-last3 .ct-chart-line .ct-series-c .ct-point, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .count-over-time .ct-chart-line .ct-series-c .ct-line, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .count-over-time .ct-chart-line .ct-series-c .ct-point, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .count-over-time-last3 .ct-chart-line .ct-series-c .ct-line, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .count-over-time-last3 .ct-chart-line .ct-series-c .ct-point {
          stroke: #4caf50 !important; }
        .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .tweets-per-pull .ct-chart-line .ct-series-a .ct-line, .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .tweets-per-pull .ct-chart-line .ct-series-a .ct-point, .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .polarity-per-pull .ct-chart-line .ct-series-a .ct-line, .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .polarity-per-pull .ct-chart-line .ct-series-a .ct-point, .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .tweets-per-pull-last3 .ct-chart-line .ct-series-a .ct-line, .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .tweets-per-pull-last3 .ct-chart-line .ct-series-a .ct-point, .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .polarity-per-pull-last3 .ct-chart-line .ct-series-a .ct-line, .dashboard-page .dashboard-main .dashboard-search .data-presentation-icon .polarity-per-pull-last3 .ct-chart-line .ct-series-a .ct-point, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .tweets-per-pull .ct-chart-line .ct-series-a .ct-line, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .tweets-per-pull .ct-chart-line .ct-series-a .ct-point, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .polarity-per-pull .ct-chart-line .ct-series-a .ct-line, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .polarity-per-pull .ct-chart-line .ct-series-a .ct-point, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .tweets-per-pull-last3 .ct-chart-line .ct-series-a .ct-line, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .tweets-per-pull-last3 .ct-chart-line .ct-series-a .ct-point, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .polarity-per-pull-last3 .ct-chart-line .ct-series-a .ct-line, .dashboard-page .dashboard-main .dashboard-add-phrase .data-presentation-icon .polarity-per-pull-last3 .ct-chart-line .ct-series-a .ct-point, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .tweets-per-pull .ct-chart-line .ct-series-a .ct-line, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .tweets-per-pull .ct-chart-line .ct-series-a .ct-point, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .polarity-per-pull .ct-chart-line .ct-series-a .ct-line, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .polarity-per-pull .ct-chart-line .ct-series-a .ct-point, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .tweets-per-pull-last3 .ct-chart-line .ct-series-a .ct-line, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .tweets-per-pull-last3 .ct-chart-line .ct-series-a .ct-point, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .polarity-per-pull-last3 .ct-chart-line .ct-series-a .ct-line, .dashboard-page .dashboard-main .edit-profile .data-presentation-icon .polarity-per-pull-last3 .ct-chart-line .ct-series-a .ct-point {
          stroke: #2196f3 !important; }
      .dashboard-page .dashboard-main .dashboard-search .icon-tweet, .dashboard-page .dashboard-main .dashboard-add-phrase .icon-tweet, .dashboard-page .dashboard-main .edit-profile .icon-tweet {
        border: 1px solid #888;
        min-height: 150px; }
      .dashboard-page .dashboard-main .dashboard-search .search-input, .dashboard-page .dashboard-main .dashboard-add-phrase .search-input, .dashboard-page .dashboard-main .edit-profile .search-input {
        font-size: 1.3em;
        background-color: white;
        color: #f96332; }
      .dashboard-page .dashboard-main .dashboard-search .add-phrase-card, .dashboard-page .dashboard-main .dashboard-search .edit-profile-card, .dashboard-page .dashboard-main .dashboard-add-phrase .add-phrase-card, .dashboard-page .dashboard-main .dashboard-add-phrase .edit-profile-card, .dashboard-page .dashboard-main .edit-profile .add-phrase-card, .dashboard-page .dashboard-main .edit-profile .edit-profile-card {
        padding: 40px 20px 20px 20px; }
        .dashboard-page .dashboard-main .dashboard-search .add-phrase-card .edit-profile-form .image-upload, .dashboard-page .dashboard-main .dashboard-search .edit-profile-card .edit-profile-form .image-upload, .dashboard-page .dashboard-main .dashboard-add-phrase .add-phrase-card .edit-profile-form .image-upload, .dashboard-page .dashboard-main .dashboard-add-phrase .edit-profile-card .edit-profile-form .image-upload, .dashboard-page .dashboard-main .edit-profile .add-phrase-card .edit-profile-form .image-upload, .dashboard-page .dashboard-main .edit-profile .edit-profile-card .edit-profile-form .image-upload {
          position: relative;
          overflow: hidden;
          margin: 10px; }
        .dashboard-page .dashboard-main .dashboard-search .add-phrase-card .edit-profile-form .image-upload input, .dashboard-page .dashboard-main .dashboard-search .edit-profile-card .edit-profile-form .image-upload input, .dashboard-page .dashboard-main .dashboard-add-phrase .add-phrase-card .edit-profile-form .image-upload input, .dashboard-page .dashboard-main .dashboard-add-phrase .edit-profile-card .edit-profile-form .image-upload input, .dashboard-page .dashboard-main .edit-profile .add-phrase-card .edit-profile-form .image-upload input, .dashboard-page .dashboard-main .edit-profile .edit-profile-card .edit-profile-form .image-upload input {
          top: 0;
          right: 0;
          margin: 0;
          padding: 0; }
        .dashboard-page .dashboard-main .dashboard-search .add-phrase-card .form-group .input-group ::-webkit-input-placeholder, .dashboard-page .dashboard-main .dashboard-search .edit-profile-card .form-group .input-group ::-webkit-input-placeholder, .dashboard-page .dashboard-main .dashboard-add-phrase .add-phrase-card .form-group .input-group ::-webkit-input-placeholder, .dashboard-page .dashboard-main .dashboard-add-phrase .edit-profile-card .form-group .input-group ::-webkit-input-placeholder, .dashboard-page .dashboard-main .edit-profile .add-phrase-card .form-group .input-group ::-webkit-input-placeholder, .dashboard-page .dashboard-main .edit-profile .edit-profile-card .form-group .input-group ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #303030;
          font-weight: 300; }
        .dashboard-page .dashboard-main .dashboard-search .add-phrase-card .form-group .input-group ::-moz-placeholder, .dashboard-page .dashboard-main .dashboard-search .edit-profile-card .form-group .input-group ::-moz-placeholder, .dashboard-page .dashboard-main .dashboard-add-phrase .add-phrase-card .form-group .input-group ::-moz-placeholder, .dashboard-page .dashboard-main .dashboard-add-phrase .edit-profile-card .form-group .input-group ::-moz-placeholder, .dashboard-page .dashboard-main .edit-profile .add-phrase-card .form-group .input-group ::-moz-placeholder, .dashboard-page .dashboard-main .edit-profile .edit-profile-card .form-group .input-group ::-moz-placeholder {
          /* Firefox 19+ */
          color: #303030; }
        .dashboard-page .dashboard-main .dashboard-search .add-phrase-card .form-group .input-group :-ms-input-placeholder, .dashboard-page .dashboard-main .dashboard-search .edit-profile-card .form-group .input-group :-ms-input-placeholder, .dashboard-page .dashboard-main .dashboard-add-phrase .add-phrase-card .form-group .input-group :-ms-input-placeholder, .dashboard-page .dashboard-main .dashboard-add-phrase .edit-profile-card .form-group .input-group :-ms-input-placeholder, .dashboard-page .dashboard-main .edit-profile .add-phrase-card .form-group .input-group :-ms-input-placeholder, .dashboard-page .dashboard-main .edit-profile .edit-profile-card .form-group .input-group :-ms-input-placeholder {
          /* IE 10+ */
          color: #303030; }
        .dashboard-page .dashboard-main .dashboard-search .add-phrase-card .form-group .input-group :-moz-placeholder, .dashboard-page .dashboard-main .dashboard-search .edit-profile-card .form-group .input-group :-moz-placeholder, .dashboard-page .dashboard-main .dashboard-add-phrase .add-phrase-card .form-group .input-group :-moz-placeholder, .dashboard-page .dashboard-main .dashboard-add-phrase .edit-profile-card .form-group .input-group :-moz-placeholder, .dashboard-page .dashboard-main .edit-profile .add-phrase-card .form-group .input-group :-moz-placeholder, .dashboard-page .dashboard-main .edit-profile .edit-profile-card .form-group .input-group :-moz-placeholder {
          /* Firefox 18- */
          color: #303030; }
    .dashboard-page .dashboard-main .timeline-container {
      overflow-x: auto;
      height: 600px; }
    .dashboard-page .dashboard-main .timeline {
      list-style: none;
      padding: 20px 0 20px;
      position: relative; }
      .dashboard-page .dashboard-main .timeline .timeline-heading .timeline-title .title-username {
        padding-left: 25px; }
    .dashboard-page .dashboard-main .timeline:before {
      top: 0;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 3px;
      background-color: #eeeeee;
      left: 50%;
      margin-left: -1.5px; }
    .dashboard-page .dashboard-main .timeline > li {
      margin-bottom: 20px;
      position: relative; }
    .dashboard-page .dashboard-main .timeline > li:before,
    .dashboard-page .dashboard-main .timeline > li:after {
      content: " ";
      display: table; }
    .dashboard-page .dashboard-main .timeline > li:after {
      clear: both; }
    .dashboard-page .dashboard-main .timeline > li:before,
    .dashboard-page .dashboard-main .timeline > li:after {
      content: " ";
      display: table; }
    .dashboard-page .dashboard-main .timeline > li:after {
      clear: both; }
    .dashboard-page .dashboard-main .timeline > li > .timeline-panel {
      width: 50%;
      float: left;
      border: 1px solid #d4d4d4;
      border-radius: 2px;
      padding: 20px;
      position: relative;
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); }
    .dashboard-page .dashboard-main .timeline > li.timeline-inverted + li:not(.timeline-inverted),
    .dashboard-page .dashboard-main .timeline > li:not(.timeline-inverted) + li.timeline-inverted {
      margin-top: -60px; }
    .dashboard-page .dashboard-main .timeline > li:not(.timeline-inverted) {
      padding-right: 90px; }
    .dashboard-page .dashboard-main .timeline > li.timeline-inverted {
      padding-left: 90px; }
    .dashboard-page .dashboard-main .timeline > li > .timeline-panel:before {
      position: absolute;
      top: 26px;
      right: -15px;
      display: inline-block;
      border-top: 15px solid transparent;
      border-left: 15px solid #ccc;
      border-right: 0 solid #ccc;
      border-bottom: 15px solid transparent;
      content: " "; }
    .dashboard-page .dashboard-main .timeline > li > .timeline-panel:after {
      position: absolute;
      top: 27px;
      right: -14px;
      display: inline-block;
      border-top: 14px solid transparent;
      border-left: 14px solid #fff;
      border-right: 0 solid #fff;
      border-bottom: 14px solid transparent;
      content: " "; }
    .dashboard-page .dashboard-main .timeline > li > .timeline-badge {
      color: #fff;
      width: 50px;
      font-size: 1em;
      height: 50px;
      line-height: 50px;
      text-align: center;
      position: absolute;
      top: 16px;
      left: 50%;
      margin-left: -25px;
      background-color: #999999;
      z-index: 100;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%; }
    .dashboard-page .dashboard-main .timeline > li.timeline-inverted > .timeline-panel {
      float: right; }
    .dashboard-page .dashboard-main .timeline > li.timeline-inverted > .timeline-panel:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto; }
    .dashboard-page .dashboard-main .timeline > li.timeline-inverted > .timeline-panel:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto; }
    .dashboard-page .dashboard-main .timeline-badge.primary {
      background-color: #2e6da4 !important; }
    .dashboard-page .dashboard-main .timeline-badge.success {
      background-color: #3f903f !important; }
    .dashboard-page .dashboard-main .timeline-badge.warning {
      background-color: #f0ad4e !important; }
    .dashboard-page .dashboard-main .timeline-badge.danger {
      background-color: #d9534f !important; }
    .dashboard-page .dashboard-main .timeline-badge.info {
      background-color: #5bc0de !important; }
    .dashboard-page .dashboard-main .timeline-title {
      margin-top: 0;
      color: inherit; }
    .dashboard-page .dashboard-main .timeline-body > p,
    .dashboard-page .dashboard-main .timeline-body > ul {
      margin-bottom: 0; }
    .dashboard-page .dashboard-main .timeline-body > p + p {
      margin-top: 5px; }

.trim-right {
  padding-right: 0px; }

.equal-sides {
  margin-left: 5px;
  margin-right: 15px; }

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  margin-top: -6px; }

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  display: inline-block; }

#clockdiv div > span {
  padding: 10px;
  border-radius: 3px;
  color: #f96332;
  display: inline-block; }

.statistics-holder {
  display: none; }

#messages > div.statistics-holder > div.statistics > div:nth-child(2) > div.col-md-4.text-center.data-presentation-icon.align-vertical.pos-vs-neg-chart > svg {
  padding-top: 40px; }

sup :hover {
  color: #f44336; }

.nav-tabs > .nav-item > .nav-link {
  float: left !important; }

.cancel-icon {
  color: #888 !important; }

.orange {
  color: #f96332 !important; }

.gray {
  color: #888; }

.red-bold {
  color: #f44336;
  font-weight: 500; }

.green-bold {
  color: #4caf50;
  font-weight: 500; }

#intervalSelect {
  margin-top: 6px; }

/*# sourceMappingURL=style.css.map */
