{% extends 'base.html' %}
{% block content %}
    <div class="dashboard-page">
        {% comment %}
    <div class="container">{% endcomment %}
        <div class="row equal-sides">
            <div class="col-sm-2 trim-right">
                <div class="dashboard-left card">
                    <h2 class="text-center">{{ user.get_username }}</h2>
                    <div class="text-center">
                        <img src="/static/img/ryan.jpg" alt="Thumbnail Image"
                             class="rounded-circle img-raised dashboard-profile-pic">
                    </div>
                    <div class="dashboard-navigation">
                        <button class="btn btn-link">Dashboard</button>
                        <button class="btn btn-link">Single Search</button>
                        <button class="btn btn-link">Historic Data</button>
                        <button class="btn btn-link">Reports</button>
                        <button class="btn btn-link">Edit your profile</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 trim-left">
                <div class="dashboard-main card">
                    <h2>Welcome to your dashboard</h2>
                    <p>You are on your Dashboard</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}