{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="wrapper">
        <div class="section section-about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">

                        <h2 class="title">About SentiBrand</h2>
                        <h5 class="description">SentiBrand is a modern software tool that provides a real time
                            sentimental analysis
                            of small and large number of Tweets. Type the phrase and watch the tweets as they
                            happen!</h5>
                    </div>
                </div>
                <div class="separator separator-primary"></div>
                <div class="section-story-overview">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image-container image-left"
                                 style="background-image: url({% static 'img/diagrams.png' %})">
                                <!-- First image on the left side -->
                                <p class="blockquote blockquote-primary">"I wasn't expecting that so much is happening
                                    in the world as w speak"
                                    <br>
                                    <br>
                                    <small>-Mom</small>
                                </p>
                            </div>
                            <!-- Second image on the left side of the article -->
                            <div class="image-container"
                                 style="background-image: url({% static 'img/dashboard.png' %})"></div>
                        </div>
                        <div class="col-md-5">
                            <!-- First image on the right side, above the article -->
                            <div class="image-container image-right"
                                 style="background-image: url({% static 'img/live-map.png' %})"></div>
                            <h3>So what does the Real Time Sentiment Analysis mean, and why is it so important to
                                marketers?</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </p>
                            <p>Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}