{% extends 'base.html' %}
{% block content %}
    <div class="dashboard-page">
        <div class="row equal-sides">
            <div class="col-sm-2 trim-right">
                {% include 'dashboard_navigation.html' %}
            </div>
            <div class="col-sm-10 trim-left">
                <div class="dashboard-main">
                    {% include 'error_messages.html' %}
                    <div class="">
                        <span class="text-danger small">{{ field.errors }}</span>
                    </div>
                    <div class="dashboard-add-phrase extra-padding-top-60 text-center">
                        <div class="col-sm-6 card add-phrase-card">
                            <h2 class="text-center add-phrase-title">{% if edit %}Edit{% else %}Add{% endif %} Search
                                Phrase <i class="fab fa-twitter"
                                          aria-hidden="true"></i></h2>
                            {% if edit %}
                                {% include 'phrase_edit_form.html' %}
                            {% else %}
                                {% include 'phrase_add_form.html' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
