{% extends 'base.html' %}
{% block content %}
    <div class="dashboard-page">
        <div class="row equal-sides">
            <div class="col-sm-2 trim-right">
                {% include 'dashboard_navigation.html' %}
            </div>
            <div class="col-sm-10 trim-left">
                <div class="dashboard-main">
                    <div class="dashboard-add-phrase extra-padding-top-60 text-center">
                        <div class="col-sm-6 card add-phrase-card">
                             <h2 class="text-center add-phrase-title">Add Search Phrase <i class="fa fa-twitter" aria-hidden="true"></i></h2>

                             <form class="form-horizontal add-phrase-form" role="form" action="{% url 'add_phrase' %} " method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                 {{bootstrap}}
                                {% include 'add_phrase_form_template.html' %}
                                <div class="form-group">
                                    <div class="text-center col-sm-12">
                                        <button type="submit" class="btn btn-primary">Add</button>
                                    </div>
                                </div>
                                 <div class="row">
                                     <a href="{% url 'dashboard' %}" button class="btn btn-link">
                                         <i class="fa fa-angle-left" aria-hidden="true"></i>    Go back to your dashboard
                                     </a>
                                 </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
