{% extends 'base.html' %}
{% block content %}
    <div class="dashboard-page">
        <div class="row equal-sides">
            <div class="col-sm-2 trim-right">
                {% include 'dashboard_navigation.html' %}
            </div>
            <div class="col-sm-10 trim-left">
                <div class="dashboard-main card">
                    {% if success %}
                        <div class="alert alert-success" role="alert">
                            <div class="container">
                                <div class="alert-icon">
                                    <i class="now-ui-icons ui-2_like"></i>
                                </div>
                                <strong>Well done!</strong> {{ success }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                            </span>
                                </button>
                            </div>
                        </div>
                    {% endif %}
                    {% include 'phrases_menu.html' %}
                    <div class="card-body">
                        <div class="tab-content text-center">
                            <div class="tab-pane" id="messages" role="tabpanel" aria-expanded="true">
                                {% include 'phrase_map.html' %}
                                {% include 'phrase_timeline.html' %}
                            </div>
                            {% include 'dashboard_management.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
