<div class="most-tweet">
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4 class="timeline-title">
                <p class = "polarity-stat"></p>
                <span class="title-username stat-author"></span>
            </h4>
            <img
                    src=""
                    class="rounded-circle img-raised timeline-user-pic stat-pic">
            <p>
                <small class="text-muted stat-date">
                </small>
            </p>
        </div>
        <div class="content">
            <p class="stat-content"></p>
        </div>
    </div>
</div>