<ul class="nav nav-tabs justify-content-center" role="tablist">
    <li class="nav-item">
        <a class="nav-link {% if active %} active {% endif %}" data-toggle="" href="{% url 'dashboard' %}" role="tab"
           aria-expanded="false">
            <i class="fa fa-list-alt" aria-hidden="true"></i>
            Search Management
        </a>
    </li>
    {% for phrase in phrases %}
        <li class="nav-item">
            <a class="nav-link {% if active_phrase.id == phrase.id %}active{% endif %}"  href="{% url 'phrase_detail' phrase.id %}" role="">
                <i class="fas fa-chart-bar" aria-hidden="true"></i> {{ phrase.name }}<sup><i class="fas fa-times"></i></sup>
            </a>
        </li>
    {% endfor %}
</ul>