<div id="floating-panel">
    <button class="btn btn-primary btn-round" onclick="toggleHeatmap()" type="button">
        Toggle Heatmap
    </button>
    <button class="btn btn-primary btn-round" onclick="changeGradient()" type="button">
        Change gradient
    </button>
    <button class="btn btn-primary btn-round" onclick="changeRadius()" type="button">
        Change radius
    </button>
    <button class="btn btn-primary btn-round" onclick="changeOpacity()" type="button">
        Change opacity
    </button>
</div>
<div id="map" class="map"></div>
