{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="dashboard-page">
        <div class="row equal-sides">
            <div class="col-sm-2 trim-right">
                {% include 'dashboard_navigation.html' %}
            </div>
            <div class="col-sm-10 trim-left extra-padding-bottom-160">
                <div class="dashboard-main card">
                    <div class="dashboard-search">
                        <h2 class="text-center">Perform Single Search</h2>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input type="text" class="form-control search-input" name="query_phrase"
                                       id="query_phrase"
                                       placeholder="Type the keyword, hashtag, phrase, user that you want to look for on Twitter">
                                <button class="btn btn-primary btn-round" id="search-btn" disabled>Search</button>
                                <button class="btn btn-default btn-round" onclick="pageReload()" disabled
                                        id="new_search_btn">New
                                    Search
                                </button>
                                <div id="clockdiv">
                                    <div>
                                        <span class="seconds"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="messages" role="tabpanel" aria-expanded="true">
                                {% include 'phrase_map.html' %}
                                <div class="statistics-holder">
                                    {% include 'statistics.html' %}
                                    {% include 'phrase_timeline.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/helper-functions.js' %}"></script>
    <script src="{% static 'js/deal-with-ui.js' %}"></script>
    <script src="{% static 'js/draw-charts-chartist.js' %}"></script>
    <script src="{% static 'js/twitter-handler.js' %}"></script>
    <script src="{% static 'js/sockets.js' %}"></script>
{% endblock %}

