{% extends 'base.html' %}
{% block content %}
    <div class="dashboard-page">
        <div class="row equal-sides">
            <div class="col-sm-2 trim-right">
                {% include 'dashboard_navigation.html' %}
            </div>
            <div class="col-sm-10 trim-left">
                <div class="dashboard-main card">
                    <div class="dashboard-search">
                        <h2 class="text-center">Perform Single Search</h2>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input type="text" class="form-control search-input" name="query_phrase"
                                       id="query_phrase"
                                       placeholder="Type the keyword, hashtag, phrase, user that you want to look for on Twitter">
                                <button class="btn btn-primary btn-round" id="search-btn">Search</button>
                                <button class="btn btn-default btn-round" onclick="pageReload()" disabled
                                        id="new_search_btn">New
                                    Search
                                </button>
                                <div id="clockdiv">
                                    <div>
                                        <span class="seconds"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="messages" role="tabpanel" aria-expanded="true">
                                {% include 'phrase_map.html' %}
                                <div class="row extra-padding-top-30">
                                    <div class="col-md-3 text-center data-presentation-icon">
                                        <span><i class="fab fa-twitter"></i></span>
                                        <p class="data-content">
                                            0
                                        </p>
                                        Number of analysed tweets
                                    </div>
                                    <div class="col-md-3 text-center data-presentation-icon">
                                        <span><i class="fas fa-map-pin"></i></span>
                                        <p class="data-content">
                                            0
                                        </p>
                                        Number of collected locations
                                    </div>
                                    <div class="col-md-3 text-center data-presentation-icon">
                                        <span><i class="fas fa-plus"></i> / <i class="fas fa-minus"></i></span>
                                        <p class="data-content">
                                            0
                                        </p>
                                        Average Polarity
                                    </div>
                                    <div class="col-md-3 text-center data-presentation-icon">
                                        <span><i class="far fa-clock"></i></span>
                                        <p class="data-content">
                                            0
                                        </p>
                                        Pull interval
                                    </div>
                                </div>
                                <div class="row extra-padding-top-30">
                                    <div class="col-md-5 text-center data-presentation-icon">
                                        The most negative tweet
                                        <div class="most-tweet">
                                            <div class="timeline-panel">
                                                <div class="timeline-heading"><h4 class="timeline-title"><span
                                                        class="title-username">Amanda Scheutzow</span></h4>
                                                    <img
                                                            src="https://pbs.twimg.com/profile_images/885139738/1_10-18-09_0512_normal.jpg"
                                                            alt="Thumbnail Image"
                                                            class="rounded-circle img-raised timeline-user-pic">
                                                    <p>
                                                        <small class="text-muted">February
                                                            6th 2018, 10:12:41 pm
                                                        </small>
                                                    </p>
                                                </div>
                                                <div class="content"><p>Falcon Heavy Test Flight
                                                    https://t.co/JSSN0hXazH via @YouTube</p></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 text-center data-presentation-icon align-vertical">
                                        <span><i class="fas fa-balance-scale "></i></span>
                                    </div>
                                    <div class="col-md-5 text-center data-presentation-icon">
                                        The most negative tweet
                                        <div class="most-tweet">
                                            <div class="timeline-panel">
                                                <div class="timeline-heading"><h4 class="timeline-title"><span
                                                        class="title-username">Amanda Scheutzow</span></h4>
                                                    <img
                                                            src="https://pbs.twimg.com/profile_images/885139738/1_10-18-09_0512_normal.jpg"
                                                            alt="Thumbnail Image"
                                                            class="rounded-circle img-raised timeline-user-pic">
                                                    <p>
                                                        <small class="text-muted">February
                                                            6th 2018, 10:12:41 pm
                                                        </small>
                                                    </p>
                                                </div>
                                                <div class="content"><p>Falcon Heavy Test Flight
                                                    https://t.co/JSSN0hXazH via @YouTube</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% include 'phrase_timeline.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";

        var socket = new WebSocket(ws_scheme + '://' + window.location.host + '/dashboard/search');

        var calls_counter = 0;
        var last_tweet_id;
        var colours = [
            "#FF0000",
            "#FF1100",
            "#FF3400",
            "#FF4600",
            "#FF6900",
            "#FF7B00",
            "#FF9E00",
            "#FFAF00",
            "#FFD300",
            "#FFE400",
            "#F7FF00",
            "#FFFF00",
            "#E5FF00",
            "#C2FF00",
            "#B0FF00",
            "#8DFF00",
            "#7CFF00",
            "#58FF00",
            "#47FF00",
            "#24FF00",
            "#12FF00",
        ];

        function getColor(polarity) {
            var roundedVal = Math.round(polarity * 10);
            var positionOfYellow = 10;
            if (roundedVal === 0) {
                return colours[positionOfYellow];
            }
            else if (roundedVal < 0) {
                return colours[positionOfYellow + (roundedVal)];
            }
            else {
                return colours[positionOfYellow + roundedVal];
            }
        }

        function roundToTwoDecimal(polarity) {
            return Math.round(polarity * 100) / 100;
        }

        function sendMessage() {
            deadline = new Date(Date.parse(new Date()) + 10 * 1000);
            initializeClock('clockdiv', deadline);

            var input = $('#query_phrase');
            var newSearchBtn = $('#new_search_btn');
            var searchBtn = $('#search-btn');
            initializeClock('clockdiv', deadline);

            input.prop('disabled', 'disabled');
            searchBtn.prop('disabled', 'disabled');

            newSearchBtn.removeClass('btn-default');
            newSearchBtn.addClass('btn-primary');
            newSearchBtn.prop('disabled', false);

            clearInterval(getDataInterval);

            socket.send(JSON.stringify({
                text: input.val(),
                user_name: "{{ user.get_username}}"
            }));

            var getDataInterval = setInterval(function () {
                deadline = new Date(Date.parse(new Date()) + 10 * 1000);
                initializeClock('clockdiv', deadline);
                socket.send(JSON.stringify({
                    text: input.val(),
                    user_name: "{{ user.get_username}}",
                    last_tweet_id: last_tweet_id
                }));
            }, 10000);
        }

        $('#search-btn').click(sendMessage);

        {#        input.keypress(function (e) {#}
        {#            if (e.which == 13) {#}
        {#                sendMessage();#}
        {#            }#}
        {#        });#}

        socket.onopen = function open() {
            console.log('WebSockets connection created.');
        };

        socket.onmessage = function message(event) {
            var data = JSON.parse(event.data);
            if (data) {
                if (data[0] && last_tweet_id !== data[0].id) {
                    last_tweet_id = data[0].id;
                    data.forEach(function (tweet, index) {
                        //console.log(tweet.user.name);
                        var user = tweet.user;
                        var username = user.name;
                        var user_location = user.location;
                        var content = tweet.text;
                        var coordinates = tweet.geolocation;
                        var place = tweet.place;
                        var date = moment(new Date(tweet.created_at)).format('MMMM Do YYYY, h:mm:ss a');
                        var polarity = tweet.polarity;
                        var color = getColor(polarity);

                        //should be negative left positive right ?
                        var inverted = polarity >= 0 ? "timeline-inverted" : "";
                        if (coordinates || place) {
                            var lat, lng;
                            lat = coordinates ? coordinates.coordinates[0] : place.bounding_box.coordinates[0][0][1];
                            lng = coordinates ? coordinates.coordinates[1] : place.bounding_box.coordinates[0][0][0];
                            points.push(new google.maps.LatLng(lat, lng));
                            heatmap.setMap(map);
                        }

                        "<div class='col-sm-2'><img src='" + user.profile_image_url_https + "'alt='Thumbnail Image' class='rounded-circle img-raised'> </div>"

                        $(".timeline").append(
                            '<li class =' + inverted + '> <div class=\"timeline-badge\" style=\"color:gray; background-color: ' + color + ';\"><i class=\"glyphicon glyphicon-check\">'
                            + roundToTwoDecimal(polarity) + '</i></div> <div class=\"timeline-panel\"> ' +
                            '<div class=\"timeline-heading\"><h4 class=\"timeline-title\">' +
                            '<img src=\"' + user.profile_image_url_https + '\"alt=\"Thumbnail Image\" class=\"rounded-circle img-raised timeline-user-pic\">' +
                            '<span class =\"title-username\">' + username + '</span></h4>' +
                            '<p> <small class=\"text-muted\"><i class=\"glyphicon glyphicon-time\">' +
                            '</i>' +
                            (user_location ? 'Assigned user location: ' + user_location + ',  ' : '') + date + " " + '</small> </p> </div> <div class=\"timeline-body\"> ' +
                            '<p>' + content +
                            '</p> ' +
                            '</div> ' +
                            '</div> ' +
                            '</li>'
                        );
                    });
                    calls_counter++;
                }
            }
        };

        if (socket.readyState == WebSocket.OPEN) {
            socket.onopen();
        }

        function pageReload() {
            location.reload();
        }
    </script>
{% endblock %}

