<div class="statistics">
    <h3 class="text-center">Overall statistics:</h3>

    <div class="row extra-padding-top-30">
        <div class="col-md-3 text-center data-presentation-icon">
            <span><i class="fab fa-twitter"></i></span>
            <p class="data-content tweets-stat">
                0
            </p>
            Number of analysed tweets
        </div>
        <div class="col-md-3 text-center data-presentation-icon">
            <span><i class="fas fa-map-pin"></i></span>
            <p class="data-content locations-stat">
                0
            </p>
            Number of collected locations
        </div>
        <div class="col-md-3 text-center data-presentation-icon">
            <span><i class="fas fa-plus"></i> / <i class="fas fa-minus"></i></span>
            <p class="data-content average-stat">
                0
            </p>
            Average Polarity
        </div>
        <div class="col-md-3 text-center data-presentation-icon">
            <span><i class="far fa-clock"></i></span>
            <p class="data-content pull-interval">
                10
            </p>
            Pull interval
        </div>
    </div>

{#    <div class="row extra-padding-top-30">#}
{#        <div class="col-md-4 text-center data-presentation-icon align-vertical">#}
{#            Percentage of Negative Tweets#}
{#            <canvas id="all-negative-pie-percentage"></canvas>#}
{#        </div>#}
{#        <div class="col-md-4 text-center data-presentation-icon align-vertical">#}
{#            Percentage of Neutral Tweets#}
{#            <canvas id="all-neutral-pie-percentage"></canvas>#}
{#        </div>#}
{#        <div class="col-md-4 text-center data-presentation-icon align-vertical">#}
{#            Percentage of Positive Tweets#}
{#            <canvas id="all-positive-pie-percentage"></canvas>#}
{#        </div>#}
{#    </div>#}
    <div class="row extra-padding-top-30">
        <div class="col-md-6 text-center data-presentation-icon align-vertical">
            Tweets per Pull
            <canvas id="all-tweets-per-pull"></canvas>
        </div>
        <div class="col-md-6 text-center data-presentation-icon align-vertical">
            Current Situation
            <canvas id="all-neg-neu-pos"></canvas>
        </div>
    </div>
    <div class="row extra-padding-top-30">
        <div class="col-md-12 text-center data-presentation-icon">
            Average Polarity Over Time
            <canvas id="all-average-polarity-timeline"></canvas>
        </div>
    </div>
    <div class="row extra-padding-top-30">
        <div class="col-md-12 text-center data-presentation-icon ">
            Negative/Neutral/Positive Over Pull
            <canvas id="neg-neu-pos-timeline"></canvas>
            {#            <div class="count-over-time"></div>#}
        </div>
    </div>
    <h3 class="text-center">Statistics from last 3 minutes:</h3>
    <div class="row extra-padding-top-30">
        <div class="col-md-4 text-center data-presentation-icon align-vertical">
            Tweets per Pull
            <div class="tweets-per-pull-last3"></div>
        </div>
        <div class="col-md-4 text-center data-presentation-icon align-vertical">
            Current Situation
            <div class="pos-vs-neg-chart-last3"></div>
        </div>
        <div class="col-md-4 text-center data-presentation-icon">
            Average Polarity Over Pull
            <div class="polarity-per-pull-last3">
            </div>
        </div>
    </div>
    <div class="row extra-padding-top-30">
        <div class="col-md-12 text-center data-presentation-icon ">
            Negative/Neutral/Positive Over Pull
            <div class="count-over-time-last3"></div>
        </div>
    </div>
    <h3 class="text-center">Top negative/positive tweets:</h3>
    <div class="row extra-padding-top-30">

        <div class="col-md-6 text-center data-presentation-icon negative-tweet">
            The most negative tweet
            {% include 'most_tweet.html' %}
        </div>
        <div class="col-md-6 text-center data-presentation-icon positive-tweet">
            The most positive tweet
            {% include 'most_tweet.html' %}
        </div>
    </div>
</div>